{% extends "base.html.jinja" %}
{% import 'macros.html.jinja' as macros %}

{% block title %}Starter Liste{% endblock %}

{% block content %}

    {{ generic_table.generic_table(table_data=table_data) }}

{% endblock %}
