{% extends "base.html.jinja" %}
{% import 'macros.html.jinja' as macros %}

{% block content %}

    {{ macros.table_form(title='Workingtest Planer',
                         headers=headers,
                         items=competitions,
                         details_route='wts.wt_details') }}

{% endblock %}
