{% extends "base.html" %}
{% block content %}

        <!-- learning by https://www.youtube.com/watch?v=eow125xV5-c  -->
        <style>
            .my-row-style {
                background-color: bisque;
                height: 400px;
            }
        </style>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="p-3 border bg-light">
                    <div class="d-flex justify-content-center">
                        <h1>Workingtest Planer</h1>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="p-3 border bg-light">
                    <div class="d-flex justify-content-center">
                        <table>
                            <thead>
                                <tr>
                                    <th>Competition</th>
                                    <th>Degree</th>
                                    <th>Location</th>
                                    <th>Date</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for competition in competitions %}
                                <tr>
                                    <td>{{ competition.name }}</td>
                                    <td>{{ competition.degree }}</td>
                                    <td>{{ competition.location }}</td>
                                    <td>{{ competition.date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
