{% extends "base.html" %}
{% from "macros.html" import form_card, form_input, form_select %}

{% block content %}
{% call form_card('Neuen WR erstellen', show_flash=false) %}
    <form method="POST">
        {{ form_input('name', label='Name', placeholder='Workingtest Name', required=true) }}
        {{ form_select('level', 'Klasse', [('A', 'A'), ('F', 'F'), ('O', 'O')], required=true) }}
        {{ form_input('location', label='Location', placeholder='Ort vom Workingtest', required=true) }}
        {{ form_input('date', label='Datum', type='date', required=true) }}
        <button type="submit" class="btn btn-primary">Workingtest Erstellen</button>
        <!--
        <a href="{{ url_for('users.list_users') }}" class="btn btn-secondary">Abbrechen</a>
        -->
    </form>
{% endcall %}
{% endblock %}
