{% extends "base.html.jinja" %}
{% from "macros.html.jinja" import wt_card, form_card, form_input, form_select %}

{% block content %}
{% call form_card('Workingtest Details', show_flash=false) %}
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Wettbewerb:</strong> {{ competition.name }}</li>
            <li class="list-group-item"><strong>Klasse:</strong> {{ competition.level }}</li>
            <li class="list-group-item"><strong>Ort:</strong> {{ competition.location }}</li>
            <li class="list-group-item"><strong>Datum:</strong> {{ competition.date }}</li>
        </ul>   
    </div>

    <div class="container mt-5">

        <a href="{{ url_for('exercises.wt_exercises', competition_id=competition.id) }}" class="btn btn-secondary">Aufgaben</a>
        <a href="{{ url_for('starters.starters', competition_id=competition.id) }}" class="btn btn-secondary">Starterliste</a>

        <form action="{{ url_for('wts.delete_wt', competition_id=competition.id) }}" method="POST" onsubmit="return confirm('Sind Sie sicher, dass Sie diesen Workingtest löschen möchten?');">
            <button type="submit" class="btn btn-danger">Löschen</button>
        </form>

        <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Zurück</a>
    </div>
{% endcall %}

{% endblock %}
