<!-- Source for development of this page is on youtube: https://www.youtube.com/watch?v=D5VPzPfLBtI&t=945s -->
<html>
    <head>
        <meta name="viewport" width="device-width"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Using line icons -->
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="templates/style.css">
    </head>


    <body>
        <main class="container-fluid">
            <div class="row">
                <header class="col-lg-1">
                    <div class="header-navbar">
                        <a href="#" class="navbar-brand">
                            <b>P</b><br>
                            <span>Portfolio</span>

                            <ul class="menu-items">
                                <li class="menu-item">
                                    <a class="active" href="#">
                                        <!-- the icon comes from lni icons, see above -->
                                        <i class="lni lni-home"></i><br>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <i class="lni lni-user"></i><br>
                                        <span>About</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <i class="lni lni-certificate"></i><br>
                                        <span>Resume</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <i class="lni lni-gallery"></i><br>
                                        <span>Gallery</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <i class="lni lni-write"></i><br>
                                        <span>Blog</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <i class="lni lni-envelope"></i><br>
                                        <span>Contact</span>
                                    </a>
                                </li>

                            </ul>
                        </a>

                    </div>
                </header>

                <section class="part1 col-lg-4 col-sm-3">
                    <div class="introduction">
                        <h1 class="my_name">I'm Thomas Nuecker</h1>
                        <h3 class="my_desc">A web developer.</h3>
                        <p class="more_desc">This is a bit test about me, what I'm doing, why this
                        here exists, what this is for, and so on and so forth... </p>
                        <div class="social-icons">
                            <i class="fa fa-facebook-f"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-github"></i>
                            <i class="fa fa-instagram"></i>
                        </div>
                    </div>
                </section>

                <section class="part1 col-lg-4 col-sm-3">
                    <img src="images/John.jpg">
                </section>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
