{% extends "base.html" %}
{% block content %}
        <div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
            <div class="p-3 border bg-light">
                <h1>Create a new Working Test</h1>
            </div></div>
        </div>

        <form action="#" method="post">

            <h2>Sonderleitung</h2>    

                <div class="form-group">
                    <label for="special_lead">Sonderleitung</label>
                    <input type="text" class="form-control" id="special_lead" name="special_lead" required>
                </div>

            <h2>Helfer</h2>

            <h2>Prüfer</h2>

            <h2>Aufgaben</h2>

            <h2>Prüfungsdatum</h2>

            <h2>Teilnehmer</h2>

        <button type="submit" class="btn btn-primary">Submit</button> 
        
{% endblock %}
