{% extends "base.html" %}
{% block content %}
        <div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
            <div class="p-3 border bg-light">
                <h1 class="text-center">Neuen Workingtest erstellen</h1>
            </div></div>
        </div>

        <form action="new_working_test" method="post">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="p-3 border bg-light">
                    <div class="form-group">
                        <label for="name">Workingtest Name</label>
                        <input type="text" class="form-control" id="wt_name" name="wt_name" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="p-3 border bg-light">
                    <div class="form-group">
                        <label for="class">Klasse</label>
                        <input type="text" class="form-control" id="wt_class" name="wt_class" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="p-3 border bg-light">
                    <div class="form-group">
                        <label for="location">Ort</label>
                        <input type="text" class="form-control" id="wt_location" name="wt_location" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="p-3 border bg-light">
                    <div class="form-group">
                        <label for="date">Datum</label>
                        <input type="text" class="form-control" id="wt_date" name="wt_date" required>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button> 
        
{% endblock %}
