{% extends "base.html" %}
{% block content %}
        <div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
            <div class="p-3 border bg-light">
                <h1 class="text-center">Neuer Teilnehmer</h1>
            </div></div>
        </div>

        <form action="#" method="post">
        <div class="form-group">
            <label for="special_lead">Vorname</label>
            <input type="text" class="form-control" id="given_name" name="given_name" required>
        </div>

        <div class="form-group">
            <label for="special_lead">Nachname</label>
            <input type="text" class="form-control" id="family_name" name="family_name" required>
        </div>

        <div class="form-group">
            <label for="special_lead">Hund Name</label>
            <input type="text" class="form-control" id="dog_name" name="dog_name" required>
        </div>

        <div class="form-group">
            <label for="special_lead">Hund Rasse</label>
            <input type="text" class="form-control" id="dog_breed" name="dog_breed" required>
        </div>

        <div class="form-group">
            <label for="payment_status">Zahlungsstatus</label>
            <select class="form-control" id="payment_status" name="payment_status" required>
                <option value="nicht_bezahlt">Nicht Bezahlt</option>
                <option value="bezahlt">Bezahlt</option>
            </select>
        </div>

        <div class="form-group"></div>
            <label for="attendance_status">Erschienen</label>
            <select class="form-control" id="attendance_status" name="attendance_status" required>
                <option value="nicht_erschienen">Nicht Erschienen</option>
                <option value="erschienen">Erschienen</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notizen</label>
            <textarea class="form-control" id="notes" name="notes"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
{% endblock %}
