{% extends "base.html" %}
{% block content %}
        <div class="row"><div class="col-sm-12 col-md-12 col-lg-12">
            <div class="p-3 border bg-light">
            <div class="text-center">
                <h1 class="text-center">Teilnehmer</h1>
            </div></div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="p-3 border bg-light">
                    <table>
                        <tr>
                            <th>Vorname</th>
                            <th>Nachname</th>
                        </tr>
                    </table>
                    <a href="{{ url_for('starter_details', starter_id=0) }}" class="btn btn-secondary">Neuer Teilnehmer</a>
                </div>
            </div>
        </div>

        
{% endblock %}
