{% extends "base.html.jinja" %}
{% from "generic_details.html.jinja" import generic_details %}

{% block content %}
{% set register_data = {
    "title": "Neuen Benutzer registrieren",
    "fields": [
        {"name": "username", "label": "Benutzername", "value": "", "type": "text",     "placeholder": "Benutzername", "required": true},
        {"name": "password", "label": "Passwort",     "value": "", "type": "password", "placeholder": "Passwort",     "required": true}
    ],
    "buttons": [
        {"type": "submit", "label": "Registrieren",     "style": "primary"},
        {"type": "link",   "label": "Zurück zum Login", "url": url_for('users.login'), "style": "link"}
    ]
} %}
{{ generic_details(register_data, edit=true) }}
{% endblock %}