{% extends "base.html.jinja" %}
{% from "macros.html.jinja" import form_card, form_input %}

{% block content %}
{% call form_card('Neuen Benutzer registrieren') %}
    <form method="POST">
        {{ form_input('username', placeholder='Benutzername', required=true) }}
        {{ form_input('password', type='password', placeholder='Passwort', required=true) }}
        <button type="submit" class="btn btn-primary">Registrieren</button>
        <a href="{{ url_for('users.login') }}" class="btn btn-link">Zurück zum Login</a>
    </form>
{% endcall %}
{% endblock %}